<div id="<%= dom_id friend %>">
  <p>
    <strong>Имя:</strong>
    <%= friend.first_name %>
  </p>

  <p>
    <strong>Фамилия:</strong>
    <%= friend.last_name %>
  </p>

  <p>
    <strong>Эл. Почта:</strong>
    <%= friend.email %>
  </p>

  <p>
    <strong>Номер телефона:</strong>
    <%= friend.phone %>
  </p>

  <p>
    <strong>Telegram:</strong>
    <%= friend.telegram %>
  </p>

</div>
